<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.question.model.mapper.QuestionMapper">

	<select id="selectAllQuestion"
		resultType="com.ssafy.happyhouse.question.model.QuestionDto">
		select question_no as no, user_id as userId, title, content, create_time as createTime, update_time as updateTime, hit
		from questions
		order by question_no desc
	</select>

	<select id="selectByNo" parameterType="int"
		resultType="com.ssafy.happyhouse.question.model.QuestionDto">
		select question_no as `no`, user_id as userId, title, content, create_time as createTime, update_time as updateTime, hit
		from questions where question_no = #{no}
	</select>

	<insert id="insertQuestion" parameterType="map">
		insert into questions(user_id, title, content) values(#{userId}, #{title}, #{content})
	</insert>

	<update id="updateQuestion" parameterType="map">
		update questions
		<trim prefix="set" suffixOverrides=",">
			<if test="title != null"> title = #{title},</if>
			<if test="content != null"> content = #{content},</if>
			update_time = CURRENT_TIMESTAMP,
		</trim>
		where question_no = #{no}
	</update>
	
	<update id="updateHit" parameterType="int">
		update questions set hit = hit + 1 where question_no = #{no}
	</update>

	<delete id="deleteQuestion" parameterType="int">
		delete from questions where question_no = #{no}
	</delete>

</mapper>